* {
    --primary-color: lightblue;
    --secondary-color: rgb(107,142,35);
    --highlight: rgb(50,205,50);

    margin: 0;
    box-sizing: border-box;
    outline: none;

    font-size: medium;
    color: var(--primary-color);
}

body { 
    height: 100vh;
    width: 100vw;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lacquer', sans-serif;
    background-image: url("images/benjamin-davies-Zm2n2O7Fph4-unsplash_etluww/benjamin-davies-Zm2n2O7Fph4-unsplash_etluww_c_scale,w_1400.jpg");
    background-size: cover;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--highlight);
    margin-bottom: 1rem;
}

label { 
    margin-bottom: 1rem;
}

input {
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

#container { 
    height: 75%;
    width: 80%;
    margin: auto;
    padding: .5rem;

    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    background-color: rgba(107,142,35,0.8);
}
    #newLocation {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        #cityInput, #countryInput {
            width: 100%;
            font-size: 1.5rem;
            background-color: rgba(107,142,35,0.2);
        }
        #submit {
            cursor: pointer;
            border: none;
            border-radius: 1rem;
            background-color: gray;
        }
            #submit:hover {
                background-color: var(--primary-color);
                color: var(--secondary-color);
                transition: 0.3s ease;
            }
    
    #notFound {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #location {
        width: 100%;
        height: 100%;
    }
        #location * {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #location i {
            width: 100%;
            height: 50%;
        }

        #mainIcon {
            padding: .5rem;
            font-size: 4rem;
            flex-direction: column;
        }
            #mainIcon h2 {
                font-size: 2rem;
            }
            #mainIcon i::before {
                font-size: 8rem;
                text-shadow: 1px 1px 5px var(--primary-color);
            }
            #dayIcons {
                padding: .5rem;
                justify-content: space-between;
            }
            #dayIcons > div {
                height: 100%;
                width: 20%;
                flex-direction: column;
            }
            #dayIcons i::before {
                font-size: 2rem;
                text-shadow: 1px 1px 5px var(--primary-color);
            }


/* Utilities */ 
.base {
    color: darkkhaki;
}
.error {
    color: rgb(235, 31, 31);
    border: none;
    border-bottom: 5px dotted var(--primary-color);
}
.standard {
    border: none;
    border-bottom: 5px dotted var(--primary-color);
}

/* Media Queries */
/* Extra small devices (phones, 600px and down)*/ 
@media only screen and (max-width: 600px) {
    * {
        font-size: small;
    }
    #location {
        width: 100%;
        margin: auto;
    }
    #mainIcon {
        padding: 1rem;
        font-size: 2rem;
        flex-direction: column;
    }
        #mainIcon i::before {
            font-size: 4rem;
        }
        h1 {
            font-size: 2rem;
            text-align: left;
        }
}