* {
    --primary-color: lightblue;
    --secondary-color: darkblue;

    margin: 0;
    box-sizing: border-box;
    outline: none;

    font-size: medium;
}

body { 
    height: 100vh;
    width: 100vw;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lacquer', sans-serif;
    background-color: var(--secondary-color);
}

h1 {
    font-size: 2rem;
    text-align: left;
}

label { 
    margin-bottom: 1rem;
}

input {
    border-radius: 1rem;
    padding: 1rem;
}
input[type=submit] {
    background-color: gray;
}

#container { 
    height: 75%;
    width: 80%;
    margin: auto;
    padding: .5rem;

    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    background-color: var(--primary-color);
}
    #newLocation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        #newLocation input {
            margin-bottom: 1rem;
            cursor: pointer;
        }
    
    #location {
        width: 100%;
        height: 100%;
    }
        #location * {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
        }
        #location i {
            width: 100%;
            height: 75%;
        }

        #mainIcon {
            padding: 1rem;
            font-size: 4rem;
            flex-direction: column;
            border: 2px solid var(--secondary-color);
        }
            #mainIcon i::before {
                font-size: 8rem;
            }
        #dayIcons {
            padding: 1rem;
            justify-content: space-evenly;
            border: 1px solid var(--secondary-color);
        }
            #dayIcons > div {
                height: 100%;
                flex-direction: column;
            }
            #dayIcons i::before {
                font-size: 2rem;
            }


/* Utilities */ 
.icon {

    /* Style card like look here */
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}